@font-face {
    font-family: Nagayama;
    src: url('../fonts/Nagayama.otf');
}

@font-face {
    font-family: Otsutome;
    src: url('../fonts/Otsutome.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
  background: #222222;
}

h1 {
  font-family: Nagayama, Arial;
  text-align: center;
  font-size: 24px;
  margin: 25px 0 0 0;
}

p {
  font-family: Otsutome, Arial;
  font-size: 18px;
}

iframe {
  border: 0;
  max-width: 400px;
}

.logo-style {
  width: 150px;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#body_main {
  /*border: 1px solid #000000;*/
  width: 1000px;
  min-width: 1000px;
  height: auto;
  margin: 0 auto 0 auto;
}

#logo-wrapper {
  text-align: center;
  margin: 50px 0 0 0;
}

#board {
  background-color: #cccccc;
  border: 6px solid #60443b;
  border-top: 35px solid #60443b;
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
}

.section-box {
  width: 95%;
  height: auto;
  margin: 20px auto 20px auto;
  overflow: hidden;
}

.leftFloat {
  float: left;
  margin-right: 15px;
}

.rightFloat {
  float: right;
  margin-left: 15px;
}

.imageStyle {
  max-width: 400px;
}

.canvas-style {
  border: 5px solid #60443b;
  width: 99%;
  height: 100%;
  margin: auto;
  background-image: url('../images/background1.png');
  background-size: cover;
}

#controller {
  border: 5px solid #60443b;
  width: 99%;
  height: 100px;
}

#left-controls {
  float:left;
  border-right: 5px solid #60443b;
  height: 100%;
  width: 30%;
  text-align: center;
}

#right-controls a {
  margin: 10px;
}

.controlStyle {
  width: 80%;
  margin: 10px auto 0 auto;
}

.characters {
  border: 5px solid #60443b;
}

#character-container {
  overflow: hidden;
  width: 100%;
}

#character-list {
  width: 30%;
  border-right: 5px solid #60443b;
  float: left;
}

.character-name {
  float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
  font-family: Otsutome, Arial;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

#character-viewer {
  float: right;
  width: 69.4%;
}

.character-image {
  float: left;
  height: 250px;
}

.character-intro, .character-story {
  float: right;
  width: 69%;
}

#footer {
  width: 100%;
  height: 20px;
}

.imageSize {
  height: 15px;
  margin-left: 2.5%;
}

#trademark {
  width: 100%;
  height: auto;
  font-size: 11px;
  color: white;
  margin-bottom: 25px;
}
