html {
    background: #222;
    font-family: Otsutome, serif;
    font-size: 20px;
    scroll-behavior: smooth;
    
    /*overflow: hidden;
    height: 100%;
    */
}

@media screen and (max-width: 700px) {
    html {
        font-size: 26px;
    }
}

header {
    background-image: url("../images/bg_header.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

header img {
    width: 20%;
    height: auto;
    position: relative;
    left: 39.5%;
}

.topmenu {
    position: relative;
    left: 34.25%;
    z-index: 999;
    background: url("../images/navscroll.png") no-repeat;
    background-size: 30%;
    padding: 20px;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2.5%;
    overflow: hidden;
}

.topmenu li {
    float: left;
    font-size: 1.5rem;
}

.topmenu a {
    display: block;
    padding: 5%;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0.6rem 0.7rem;
}

.topmenu .currentpage {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(204, 62, 62);
}

.scroller {
    position: relative;
    left: 45%;
}

.scroller img {
    width: 7.5%;
}

#main {
    background-image: url("../images/bg_body.png");
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: center;
}

#head blockquote {
    position: relative;
    font-family: Nagayama, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 5%;
}

#intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

#intro1, #intro2, #intro3 {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
}

#intro1, #intro3 {
    margin-bottom: 3%;
    margin-left: 3%;
}

#intro2 {
    flex-direction: row-reverse;
}

#intro2 img, #intro3 img {
    width: 30%;
    height: 30%;
}  

#intro1 p, #intro2 p, #intro3 p {
    display: block;
    max-width: 45%;
    margin-left: 5%;
    margin-top: 10%;

    font-size: 1.2rem;
}

.gallerypreload {
    display: none;
}

#footer {
    background-image: url("../images/bg_footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#footer img {
    display: block;
    position: absolute;
    padding: 3%;
    margin: 0 auto;
    text-align: center;
}

footer {
    display: block;
}

footer p {
    font-size: 0.6rem;
    text-align: left;
    padding: 0%;
    padding-left: 20%;
    margin: 0%;
    bottom: 5%;
    max-width: 60%;
    margin-right: 4%;
}

footer img {
    width: 10%;
    padding: 1.5%;
}