* {
    margin: 0;
    padding: 0;
    
}

html {
    background: #222;
    font-family: Otsutome, serif;
    font-size: 20px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
}

body {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    background-image: url("../images/bg_header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header img {
    width: 20%;
    height: auto;
    position: relative;
    left: 39.5%;
}

#topmenu {
    position: sticky;
    left: 34.25%;
    z-index: 999;
    background: url("../images/navscroll.png") no-repeat;
    background-size: 30%;
    padding: 20px;
    overflow: hidden;
}

#topmenu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2.5%;
    overflow: hidden;
}

#topmenu li {
    float: left;
    font-size: 1.5rem;
}

#topmenu a {
    display: block;
    padding: 5%;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0.6rem 0.7rem;
}

#topmenu .currentpage {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(204, 62, 62);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#scroller {
    float: left;
    position: relative;
    left: 47%;
}

#scroller img {
    width: 50px;
    height: auto;
}

#main {
    background-image: url("../images/bg_body.png");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center;
}

#head blockquote {
    position: relative;
    font-family: Nagayama, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 5%;
}

#intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

#intro1, #intro2, #intro3 {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
}

#intro1, #intro3 {
    margin-bottom: 3%;
    margin-left: 3%;
}

#intro2 {
    flex-direction: row-reverse;
}

#intro2 img, #intro3 img {
    width: 30%;
    height: 30%;
}  

#intro1 p, #intro2 p, #intro3 p {
    display: block;
    max-width: 45%;
    margin-left: 5%;
    margin-top: 10%;

    font-size: 1.2rem;
}

#drawingui {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    border: solid #000000;
}

#backgroundlayer {
    width: 55%;
    height: 55%;
    background-color: #cacaca;
    border: solid #000000;
    margin-left: 21.75%;
    margin-top: 2%;
    z-index: 100;
}

#drawinglayer {
    position: absolute;
    left: 595px;
    top: 1280px;
    width: 591px;
    height: 295px;
    color: #ffffff00;
    z-index: 200;
}

#drawingwidth {
    float: left;
}

#drawingbackgrounds img {
    width: 70px;
    position: center;
}

#gallery {
    position: relative;
    width: 1055px;
}

#scrollbox {
    width: 475px;
    float: left;
    line-height: 0;
    padding-top: 51px;
}

#scrollbox ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#galleryviewer { 
    float: left;
    margin-left: 1px;
    width: 552px;
    height: 439px;
    display: block;
    text-align: left;
}

#galleryintro, #gallerystory {
    margin: -7px 35px 0px 60px;
    letter-spacing: 1px;
    line-height: 22px;
}

.pc a {
    -moz-box-shadow: 2px 3px 0px 0px #cccccc;
    -webkit-box-shadow: 2px 3px 0px 0px #cccccc;
    box-shadow: 2px 3px 0px 0px #cccccc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color:#666666;
    font-family: Nagayama;
    font-size: 19px;
    font-weight: bold;
    padding: 11px 40px;
    text-decoration: none;
    text-shadow: 3px 1px 0px #ededed;
}

.pc a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

#consoles a {
	-moz-box-shadow: 2px 3px 0px 0px #cccccc;
	-webkit-box-shadow: 2px 3px 0px 0px #cccccc;
	box-shadow: 2px 3px 0px 0px #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color:#666666;
	font-family: Otsutome;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 3px 1px 0px #ededed;
}

#consoles a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

.pc a:active, #consoles a:active {
	position: relative;
	top: 1px;
}

#footer {
    display: block;
    width: 100%;
    background-image: url("../images/bg_footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#footer p {
    z-index: 9;
    font-size: 0.6rem;
    text-align: left;
    color: white;
    padding: 0%;
    padding-left: 20%;
    margin: 0%;
    bottom: 5%;
    max-width: 60%;
    margin-right: 4%;
}

#footer img {
    width: 10%;
    padding: 1.5%;
}



@media screen and (max-width: 700px) {
    html {
        font-size: 26px;
    }
}